* {
    margin: 0;
    padding: 0;
}
.form {
    width: 100%;
}
.title {
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}
.title:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(45, 140, 255, 0.5);
}